.nav{
    background-color: black;
    z-index: 9; 
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0,.15);
}

.nav_top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    float: left;
    width: 60%;
    border-radius: 5px;
}
 .logo img{
    padding: 5px;
}

.nav_side{
    float: right;
    margin-top: 30px;
    width: 40%;
    

}

.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;   
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: orange;
    text-decoration: underline;
    transition: all 1s ease;
}
 /*................. main section.................. */
 .main{
    background-image: url(background.jpg);
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     height: 80vh;
 }
 .main .main_content{
     padding-top: 10%;    
     margin-left: 10%;
     margin-right: 10%;
     justify-content: center;
     align-items: center;
     align-content: center;
    text-align: center;
 }
 .main .main_content h2{
    color: rgb(170, 63, 63);  
    padding-top: 120px;
    font-size: 50px;
    font-family: cosmic,sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 25px;
    text-decoration:underline;
    text-decoration-color: rgb(219, 101, 22);
 }

 .main .main_content h2 span{
     padding-top: 2px;
     text-decoration: none;
     text-decoration-color: transparent;
     font-size: 14px;
     font-weight: 400;
     opacity: 0.9;
    line-height: 20px;
     color: white;
 }
 .main .main_content .btn{
     margin-top: 50px;

 }
 .main .main_content .btn a{
     text-decoration: none;
     margin: 50px;
     padding: 10px 20px;
     color: white;
     background-color: #4a148c;
     font-family: cosmic,sans-serif;
     text-align: center;
     border: 2px solid white;
     border-radius: 10px;
 }
 .main .main_content a:hover{
     background-color: black;
     color: orange;
     border: none;
     border-bottom: 4px solid orange;
     transition: 0.5s;
 }

 /* ......................Product data................................ */
 .product{
     padding-bottom: 50px;
     background-color: gray;
    
 }
 .product h2{
     color: orange;
     font-size: 35px;
     text-align: center;
     padding: 20px;
 }

 .product .product_container{
     display: flex;
     margin-left: 5%;
     margin-right: 5%;
    }
    .product .product_container .item{
        width: 33.3%;
        margin: 10px;
        height: auto;
    }
    .product .product_container .item .item_content{
        color: black;
    }
    .product .product_container .item .item_content:hover{
        color: grey;
    }

    .product .product_container .item:hover{
        background-color: white;
        box-shadow: 0px 3px 65px 0px rgba(0, 0, 0,.15);
    }
     
    .product .product_container .item .item_img{
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .product .product_container .item .item_img img{
        width: 100%;
        height: 250px;
    }

    .product .product_container .item .item_content{
        text-align: center;
    }


    .product .product_container .item .item_content h3{
        padding: 10px;
        font-size: 30px;
        font-family: cosmic,sans-serif;
        text-align: center;
    }

    .product .product_container .item .item-content p{
        padding: 10px;
        font-size: 15px;
        font-family: cosmic,sans-serif;
    }

    .product .product_container .item .item_content a{
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    color: white;
    background-color: #4a148c;
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
        }
    .product .product_container .item .item_content a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    }

    .product .product_btn{
        text-align: center;
        margin-top: 50px;
    }

    .product .product_btn a{
        text-decoration: none;
        padding: 10px 20px;
        color: white;
        background-color: #4a148c;
        font-family: cosmic,sans-serif;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;
    }
    .product .product_btn a:hover{
        background-color: black;
        color: orange;
        border: none;
        border-bottom: 4px solid orange;
        transition: 0.5s;
    }

    /* .....................key point section.......................... */
    .keypoint{
        padding: 50px;
        
    }

    .keypoint h2{
        color: orange;
        font-size: 35px;
        text-align: center;
        padding: 10px;
    }

    .keypoint .key_container{
        display: flex;
    }

    .keypoint .key_container .key_content{
        width: 40%;
        padding: 20px;
        float: left;
       
    }
  
    .keypoint .key_container .key_content li{
        margin: 10px;
        padding: 10px;
        border-left: 2px solid orange;
         background-color: white;
        color: black;
        text-align: left;
        font-family: cosmic,sans-serif;
        font-size: large;
        box-shadow: 0px 3px 65px 0px rgba(0, 0, 0,.15);
        list-style: none;
    }

    .keypoint .key_container .key_image{
        width: 40%;
        float: right;
        margin-left: 10px;
        
    }

    .keypoint .key_container .key_image img{
        width: 150%;
        height: 100%;
        overflow: hidden;
    }
/* ....................testing................... */
    .testi{
    padding: 50px;
    }

    .testi h2{
        color: black;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }

    .testi .testi_container{
        margin-right: 10%;
        margin-left: 10%;
        text-align: center;
    }

    .testi .testi_conatiner .carousel-inner{
        background-color: white;
        box-shadow: none;
    }

    .testi .testi_container .item{
        width: 100%;
        padding: 20px;
        background-color: white;
        box-shadow: none;
    }
     
    .testi .testi_container .item .item_img{
        width: 100%;
        height: 100px;
        text-align: center;
        overflow: hidden;
    } 
     .testi .testi_container .item .item_img img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

        /*   __________OR WE CAN___________
     .testi .testi_container .item .item_img{
        width: 100%;
        height: 250px;
        text-align: center;
        overflow: hidden;
    }


    .testi .testi_container .item .item_img img{
        width: 100px;
        height: 100px;
        margin-top: 100px;
        border-radius: 50%;
    } */

    .testi .testi_container .item .item_content{
        text-align: center;
    }


    .testi .testi_container .item .item_content h3{
        padding: 10px;
        font-size: 30px;
        font-family: cosmic,sans-serif;
        text-align: center;
    }

    .testi .testi_container .item .item-content p{
        padding: 10px;
        font-size: 15px;
        font-family: cosmic,sans-serif;
    }

    /* ...................................our team................................................ */
    .team{
        padding: 50px;
    }

    .team h2{
        color: black;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;

    }

    .team .team_container{
        display: flex;
    }

    .team .team_container .team_video{
        width: 50%;
        padding: 20px;
    }

    .team .team_container .team_video video{
        width: 100%;
        border: 10px solid orange;
        outline: none;
    }

        /*.............................. FOR IFRAMES................................................
    .team .team_container .team_video iframe{
        width: 100%;
        border: 10px solid orange;
        outline: none;
    } */

     /*.............................. FOR IFRAMES................................................
    .team .team_container .team_video audio{
        width: 100%;
        border: 10px solid orange;
        outline: none;
    } */


    .team .team_container .team_content{
        width: 40%;
        padding: 20px;
        margin-left: 50px;
        font-family: cosmic,sans-serif;
    }

    /* .........................................feedback...................................... */
    .feed{
        padding: 50px;
        background-image: url(feed.jpg);
        background-size: cover;
    }

    .feed h2{
        color: black;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;

    }

    .feed .feed_form{
        text-align: center;
    }

    .feed .feed_form form{
        padding: 20px;
    }

    .feed .feed_form form input{
        width: 30%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }

    .feed .feed_form form textarea{
        width: 30%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }

    .feed .feed_form form button{
        width: 30%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
        background-color: purple;
        color: white;
        border-radius: 5px;
    }

    .feed .feed_form form button:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
    }

    /* .......................................About Us.......................................... */
    .about_us{
        padding: 100px;
    }
    .about_us h2{
        color: orange;
        font-family: cosmic,sans-serif;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }

    .about_us p{
        padding: 10px;
        font-size: 14px;
        text-align: center;
        font-family: cosmic,sans-serif;
        line-height: 25px;
    }
    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Blogs>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .blog{
        padding: 100px;
    }
    .blog h1{
        color: orange;
        font-family: cosmic,sans-serif;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .blog h2{
        color: black;
        font-family: cosmic,sans-serif;
        font-size: 25px;
        text-align:left;
        padding: 10px;
        text-transform: uppercase;
        margin-left: 100px;
        
    }
    .blog .blog_content img{
        text-align:left;
        padding: 10px;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-left: 120px;
    }

    .blog pre{
        padding: 10px;
        font-size: 14px;
        text-align: left;
        font-family: cosmic,sans-serif;
        line-height: 25px;
        border:none;
        background-color: white;
        align-items: left;
        justify-content: left;
    }
    .blog pre p{
        padding: 10px;
        font-size: 14px;
        text-align: left;
        font-family: cosmic,sans-serif;
        line-height: 25px;
        border:none;
        background-color: white;
        align-items: left;
        justify-content: left;
    }
    /* .....................................Contact Us........................................... */

    .contact_container{
        padding: 100px;
    }

    .contact_container h2{
        color: orange;
        font-family: cosmic,sans-serif;
        font-size: 35px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }

    .contact_container .g_map{
        border: 7px solid purple;
    }

    .contact_container .contact_content{
        padding: 20px;
    }

    .contact_container .contact_content p{
        padding: 10px;
        font-size: 14px;
      
        font-family: cosmic,sans-serif;
        line-height: 25px;
    }
    /* **********************************Login/Register***************************************** */
    
   

    .register{
        padding: 150px;
        background-color: #000;
        font-family: cosmic,sans-serif;
       box-sizing: border-box;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-size: cover;
        margin-left: 25%;
        margin-right: 25%;
        padding: 100px;
        border-radius: 20px;
        margin-top: 150px;
        margin-bottom: 50px;
    }
  
    .register .title{
        color: orange;
        font-size: 35px;
        text-align: left;
        padding: 10px;
        text-transform: uppercase;
        font-family: cosmic,sans-serif;

    }

    .register .subtitle{
        color: orange;
        font-size: 15px;
        text-align: left;
        padding: 10px;
        text-transform: uppercase;
        font-family: cosmic,sans-serif;

    }

    .register .register_login form{
        
        padding: 20px;
        color: white;
        font-family: cosmic,sans-serif;       
        border: none;
        font-size: 10px;
    }

    .register .register_login form a{
        padding: 20px;
        color: white;
        text-decoration: none;
        border: none;
        font-size: 12px;
        font-family: cosmic,sans-serif;
    }

    .register .register_login form a:hover{
        padding: 20px;
        color: orange;
        text-decoration: none;
        transition: 0.5s;
        border: none;
        font-size: 15px;
        font-family: cosmic,sans-serif;
    }

    .register .register_login .reg_a  form input{
        width: 65%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }
    .register .register_login .reg_b  form input{
        width: 65%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }.register .register_login .reg_c  form input{
        width: 65%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }.register .register_login .reg_d  form input{
        width: 65%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }

    .register .register_login .reg_e  input{
        padding: 6px;      

    } 


    .register .register_login form label{
        width: 30%;
        margin: 2px;
        padding: 4px;
        color: ghostwhite;
        outline: none;
        border: none;
    }

    .register .register_login form textarea{
        width: 30%;
        margin: 10px;
        padding: 8px;
        outline: none;
        border: none;
    }

    .register .register_login form button{
        width: 30%;
        margin: 1px;
        padding: 8px;
        outline: none;
        border: none;
        background-color: orange;
        color: white;
        border-radius: 5px;
    }

    .register .register_login form button:hover{
    background-color: black;
    color: purple;
    border: none;
    border-bottom: 8px solid purple;
    transition: 0.5s;
    }




    /*.....................................FOOTER SECTION.......................................*/
    footer{
        background-color: #99a3a4;
        padding: 50px;
    }
    footer .footer_logo img{
        border-radius: 25px;
    }
    footer .pages{
        text-align: center;
    }

    footer .pages h3{
        color: black;
        font-size: 20px;
        font-family: cosmic,sans-serif;
        padding: 5px;
    }

    footer .pages a{
        text-decoration: none;
        margin: 10px;
        color: orange;
        font-size: 15px;
    }

    footer .pages a:hover{
        color: white;

    }

    footer .Documents{
        text-align: center;
    }

    footer .Documents h3{
        color: black;
        font-size: 20px;
        font-family: cosmic,sans-serif;
        padding: 5px;
    }

    footer .Documents a{
        text-decoration: none;
        margin: 10px;
        color: orange;
        font-size: 15px;
    }

    footer .Documents a:hover{
        color: white;
        
    }

    footer .social{
        text-align: center;
    }

    footer .social h3{
        color: black;
        font-size: 20px;
        font-family: cosmic,sans-serif;
        padding: 5px;
    }

    footer .social a{
        text-decoration: none;
        font-size: 20px;
        color: orange;
        margin: 10px;
    }

    footer .social a:hover{
        color: white;
    }

    footer .contact{
        text-align: center;
    }

    footer .contact h3{
        color: black;
        font-size: 20px;
        font-family: cosmic,sans-serif;
        padding: 5px;
    }

    footer .contact a{
        text-decoration: none;
        font-size: 20px;
        color: orange;
        margin: 10px;
    }

    footer .contact a:hover{
        color: white;
    }